#bar{:data => {:role => "page"}}
  %div{:data => {:role => "header"}}
    %h1 Bar
  %div{:data => {:role => "content"}}
    %p
      But this is another page
      %a{:href => "#foo"} Back to foo
  %div{:data => {:role => "footer"}}
    %h4 Page Footer
