#foo{:data => {:role => "page"}}
  %div{:data => {:role => "header"}}
    %h1 Foo
  %div{:data => {:role => "content"}}
    %p
      First page is the one shown.
      %a{:href => "#bar"} Go to bar
  %div{:data => {:role => "footer"}}
    %h4 Page Footer

