#new-match{:data => {:role => "page"}}

  %div{:data => {:role => "header"}}
    %h1 New Match

  %div{:data => {:role => "content"}}

    %div{:data => {:role => "fieldcontain"}}
      %label{:for => "opponent-name"} Who did you play against?
      %input#opponent-name{:type => "text", :name => "opponent-name"}

    %div{:data => {:role => "fieldcontain"}}
      %fieldset{:data => {:role => "controlgroup"}}
        %legend Did you win or lose the match?

        %input#radio-choice-1{:type => "radio", :name => "radio-choice-1"}
        %label{:for => "radio-choice-1"} Won

        %input#radio-choice-2{:type => "radio", :name => "radio-choice-2"}
        %label{:for => "radio-choice-2"} Lost

    %div{:data => {:role => "fieldcontain"}}
      %label{:for => "notes"} Notes:
      %textarea#notes{:type => "text", :name => "notes"}
    
  %div{:data => {:role => "footer"}}

